:root{
  --color-primary : #34C94B;
  --color-white : #FFFFFF;
  --color-black : #121212;
}

body{
  font-family: "Poppins";
  line-height: 1.5;
  background-color: var(--color-black);
  color:var(--color-white);
  -webkit-font-smoothing: antialiased;
}

input,
textarea,
button,
p,
h1,
h2,
h3,
h4,
h5,
h6{
  overflow-wrap:break-word;
}
